.about div{
    transition: 0.3s;
    animation: initialSlideIn 1s ease backwards 0s;
}
.about div:nth-child(1){
    animation-delay: 0s;
}
.about div:nth-child(2){
    animation-delay: 0.1s;
}
.about div:nth-child(3){
    animation-delay: 0.2s;
}
.about div:nth-child(4){
    animation-delay: 0.3s;
}
.about div:nth-child(5){
    animation-delay: 0.4s;
}
.about div:nth-child(6){
    animation-delay: 0.5s;
}

@keyframes initialSlideIn{
    from{
        opacity: 0;
        transform: translateX(300px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.about div:hover{
    background: yellow;
    transform: translateX(20px);
}



.codeSnippet{
    background: #000;
}

#copyButton{
    opacity: 0;
    transition: all 0.1s ease;
}

.codeSnippet:hover #copyButton{
    opacity: 1;
}
