body{
    overflow-x: hidden;
}

.cursorPointer {
    cursor: pointer;
    text-decoration: none !important;
}

.brand{
    color: rgba(0,0,0,.9) !important;
}

.navLinkButton{
    padding: 0.75rem 0.75rem;
    border: none;
    background: transparent;
}

.nav-dropdown-content{
    position: absolute;
    z-index: 1;
}

.nav-dropdown-content NavigationBarDropDown{
    padding: 2px;
}